<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web
Application 2.3//EN"  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<servlet>
<servlet-name>HelloServlet</servlet-name>
<servlet-class>HelloServlet</servlet-class>
<init-param>
            <param-name>CreatedOn</param-name>
            <param-value>July 01 2021</param-value>
</init-param>
</servlet>
<servlet>

<servlet-name>paramServlet</servlet-name>
<servlet-class>paramServlet</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>HelloServlet</servlet-name>
<url-pattern>/HelloServlet</url-pattern>
</servlet-mapping>


<servlet-mapping>
<servlet-name>paramServlet</servlet-name>
<url-pattern>/servlets/paramServlet</url-pattern>
</servlet-mapping>

<servlet>

<servlet-name>param</servlet-name>
<servlet-class>param</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>param</servlet-name>
<url-pattern>/servlet/param</url-pattern>
</servlet-mapping>
</web-app>